.wrapper {
  @include mobile-big {
    display: block;
  }
  align-items: flex-start;
  display: flex;
  justify-content: space-between;
}

.icon {
  @include mobile-big {
    display: none;
  }
}

.doors {
  list-style: none;
  padding: 0;

  li {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    padding: {
      bottom: $padding-single;
      top: $padding-single;
    }
  }
}

.doorsName {
  @include heading-typography(h4);
  margin-right: $padding-single;
}
