.container {
  margin: {
    left: auto;
    right: auto;
  }
  max-width: $max-width;
  padding: {
    bottom: $padding-single;
    top: $padding-single;
  }

  h1 {
    @include heading-typography;
    margin: {
      bottom: $padding-double;
      top: $padding-single;
    }
    padding: {
      left: $padding-container;
      right: $padding-container;
    }
  }
}

.shopHeading {
  @include heading-typography(h2, $app-gray);
  margin: {
    bottom: $padding-double;
    top: $padding-double;
  }
  text-align: center;

  i {
    margin-right: $padding-half;
  }
}

.button {
  @include colorise-btn($app-green);
  @include heading-typography(h3, $app-black);
  display: block;
  margin: {
    bottom: $padding-double;
    left: auto;
    right: auto;
    top: $padding-single;
  }
  width: 200px;

  i {
    margin-left: $padding-half;
  }
}

.divider {
  border-bottom: 1px solid $app-gray;
}
