.button {
  @include text-typography;
  border: none;
  border-radius: $border-radius;
  color: $app-black;
  cursor: pointer;
  display: inline-block;
  font: inherit;
  padding: {
    bottom: $padding-half;
    left: $padding-single;
    right: $padding-single;
    top: $padding-half;
  }
  text-align: center;
  text-decoration: none;
}
