.container {
  margin: {
    left: auto;
    right: auto;
  }
  max-width: $max-width;
  padding: {
    bottom: $padding-single;
    left: $padding-container;
    right: $padding-container;
    top: $padding-single;
  }

  h1 {
    @include heading-typography;
    margin: {
      bottom: $padding-double;
      top: $padding-single;
    }
  }
}

.name {
  color: $app-green;
}

.linkBack {
  @include colorise-btn($app-green);
  display: block;
  margin: {
    bottom: $padding-double;
    left: auto;
    right: auto;
    top: $padding-double;
  }
  width: 200px;
}

.list {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding: 0;
}
