.employee {
  border: 1px solid $app-gray;
  border-radius: $border-radius;
  margin: {
    bottom: $padding-single;
    top: $padding-single;
  }
  padding: {
    bottom: $padding-single;
    top: $padding-single;
  }
}

.wrapper {
  align-items: center;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding: {
    left: $padding-double;
    right: $padding-double;
  }
}

.button {
  @include colorise-btn($app-yellow);
  @include heading-typography(h3, $app-black);
  display: block;
  margin: {
    bottom: $padding-single;
    top: $padding-single;
  }
  width: 200px;

  i {
    margin-left: $padding-half;
  }
}

.controlsContainer {
  border-top: 1px solid $app-gray;
  margin: {
    top: $padding-single;
  }
  padding: {
    bottom: $padding-single;
    top: $padding-double;
  }

  h3 {
    @include heading-typography(h3);
    margin-top: 0;
  }
}

.controlsWrapper {
  padding: {
    left: $padding-double;
    right: $padding-double;
  }
}
