.container {
  border-bottom: 1px solid $app-gray;

  padding: {
    bottom: $padding-single;
    top: $padding-half;
  }

  h1 {
    @include heading-typography;
    color: $app-green;
    margin: {
      bottom: $padding-single;
      right: auto;
      top: $padding-single;
    }
  }

  nav {
    align-items: center;
    display: flex;
    justify-content: space-between;

    a {
      color: $app-gray;
      margin-right: $padding-single;

      &:hover {
        text-decoration: none;
      }
    }
  }
}

.wrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  margin: {
    left: auto;
    right: auto;
  }
  max-width: $max-width;
  padding: {
    left: $padding-container;
    right: $padding-container;
  }
}

.button {
  @include colorise-btn($app-red);
}

.greeting {
  margin: {
    top: $padding-single;
  }
  text-align: center;
}
