.buttonAdd {
  @include colorise-btn($app-green);
  align-items: center;
  display: flex;
  justify-content: space-between;
  min-width: 190px;

  i {
    margin-right: $padding-half;
  }
}

.buttonRemove {
  @include colorise-btn($app-red);
  display: flex;
  justify-content: space-between;
  min-width: 190px;

  i {
    margin-right: $padding-half;
  }
}
