.container {
  margin: {
    left: auto;
    right: auto;
  }
  max-width: $max-width;
  padding: {
    bottom: $padding-single;
    left: $padding-container;
    right: $padding-container;
    top: $padding-single;
  }
}

.heading {
  @include heading-typography;
  margin: {
    bottom: 2 * $padding-double;
    top: $padding-single;
  }
}

.shopHeading {
  @include heading-typography(h2, $app-gray);
  margin: {
    bottom: $padding-double;
    top: $padding-double;
  }
  text-align: center;

  i {
    margin-right: $padding-half;
  }
}

.lock {
  border: 1px solid $app-gray;
  border-radius: $border-radius;
  margin: {
    bottom: $padding-single;
    left: auto;
    right: auto;
    top: $padding-single;
  }
  max-width: $max-width / 2;
  padding: $padding-single;

  label {
    i {
      margin-right: $padding-half;
    }
  }

  .row {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
}
