.employee {
  border: 1px solid $app-gray;
  border-radius: $border-radius;
  margin: {
    bottom: $padding-single;
    top: $padding-single;
  }
  padding: $padding-single;
}

.access {
  margin: {
    top: $padding-single;
  }

  span {
    color: $app-red;

    i {
      margin-right: $padding-half;
    }
  }
}
